    /* ==========================================================================
   Global Overrides
  ========================================================================== */
    
    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        /*   border: 1px solid red; */
    }
    
    .clearfix:after {
        display: table;
        clear: both;
        content: "";
    }
    /* ==========================================================================
   My custom styles
  ========================================================================== */
    /*  SITE COLORS for your reference:
    (refer to styleguide.jpg for hex codes or use Sip to pick colors from design)

    White - #ffffff;
    Light Grey -
    Dark Grey -
    Grey/Black(text color) -
    Yellow -
    Red -
*/
    /* Global
   =============== */
    
    body {
        /* Set some defaults! font-family, font-size, color, etc. */
        background-image: url("/imgs/pbg.png");
        background-color: #D4DEE4;
        font-family: 'Libre Franklin', helvetica, sans-serif;
        -webkit-font-smoothing: antialiased;
    }
    /* Text Styles (a, a:hover, a:visited, a:active, p, h1, h2, h3, h4, etc.)

=============== */
    
    p {
        padding: 10px;
        font-size: .85em;
        line-height: 1.5;
    }
    
    h1 {
        text-align: center;
        font-family: 'Open Sans', helvetica, sans-serif;
        -webkit-font-smoothing: antialiased;
        color: #C2D6DE;
        font-variant: small-caps;
        letter-spacing: 5px;
    }
    
    .title {
        position: fixed;
        width: 100%;
        top: 0px;
        margin: 0;
        padding: .70em;
        z-index: 2;
        font-family: 'Open San', helvetica, serif;
        -webkit-font-smoothing: antialiased;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-size: .99em;
        text-align: center;
        line-height: 1em;
        font-weight: bold;
        font-style: none;
        background-color: #1C1D1D;
        color: #fff;
        border: 1px solid #000;
        z-index: 999;
    }
    
    a {
        /* Set some default styles for anchor links (color, text decoration) */
    }
    /* Navigation
   ================= */
    
    .primary {
        background-color: #000;
        list-style-type: none;
        width: 100%;
        margin: 0;
        padding: 0;
        display: inline-block;
        text-align: center;
        border: 0px solid #000;
    }
    /*-----Change NAVBAR colour-----*/
    
    .primary {
        /*background: transparent;*/
        border: none;
        transition: 0.2s all linear;
    }
    
    .primary.change-color {
        background-color: #3B5462;
        -webkit-box-shadow: 0px 0px 4px 0px rgba(221, 221, 221, 1);
        -moz-box-shadow: 0px 0px 4px 0px rgba(221, 221, 221, 1);
        box-shadow: 0px 0px 4px 0px rgba(221, 221, 221, 1);
    }
    
    li {
        list-style-type: none;
        text-decoration: none;
        display: inline-block;
        margin-left: 50px;
        text-align: center;
    }
    
    .primary a {
        transition: 0.3s ease;
        font-family: 'Roboto Condensed', helvetica, sans-serif;
        -webkit-font-smoothing: antialiased;
        text-transform: uppercase;
        font-size: .95em;
        background-color:transparent;
        color: #fff;
        text-decoration: none;
        padding: 10px 0;
        margin: 0 10px;
    }
    
    .primary a:hover {
        transition: 0.3s ease-out;
        color: #6ED1F5;
        border-bottom: 4px solid #ffffff;
        border-radius: 25px;
        padding: 6px 0;
    }
    /* Header
   ========= */
    
    header {
        padding: 0px;
        width: 100%;
        background: #eee;
        border: 0px solid #000;
        margin: 0 auto;
    }
    
    .inner-header
    /*temp*/
    
    {
        background-color: #777;
        width: 90%;
        padding: 0px;
        height: 300px;
        border-radius: 10px;
        margin: 0 auto;
        text-align: center;
    }
    /* Layout (columns, floats, etc.)
   ============================== */
    
    #container {
        width: 85%;
        position: relative;
        top: 38px;
        /* ISSUE HERE - Border Shifts up when border is added. */
        margin: auto;
        background-color: #ffffff !important;
        border: 1px solid #DDDDDD;
    }
    /* Content
   ============================== */
    
    #about {
        
}
    
    #skills {
             
}

.skills-container {
    width: 100%;
    text-align: center;
    margin: 0 auto; 
}


.skills {
    width: 40px;
    margin: 10px;
    display: inline-block;
}

    
    #portfolio {
        
}
    
    .contact {
        clear: both;
        padding-top: 10px;
    }

 /* CONTENT FORM
   ============================== */

.contain {
  border: 1px dashed #d7ecef;    
  margin: 0 auto;
  width:780px;  
  padding:15px;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    background: #f9f9f9;
    resize: vertical;
    float: right;
    width: 330px;
    height: 160px;
    position:relative;
    bottom:170px;
    padding:10px;
    border-radius:10px;
    border-style: none;
    resize: none;
}

input {
  background: #f9f9f9;    
  padding:10px;
  margin:10px;
  width:330px;
  border-radius: 10px;
  border-style: none;
}

.submit input {
 background:#aadae2;    
 position:relative;
 bottom: 150px;
 padding:10px;
 margin: 0 auto;
 width: 100%;
 text-align: center;
}




    /* PORTFOLIO TABS CONTENT */
    
    a {
        outline: none;
    }
    
    .tabContainer {
        /*	background:#fff;*/
        border: 0px solid #fff;
        margin: 100px auto;
        padding: 0px;
        position: relative;
        width: 100%;
    }
    
    .tabContainer ul.tcontainer {
        overflow: hidden;
        border-right: 0px solid #000;
        height: 35px;
        position: absolute;
        z-index: 100;
        margin: 0;
        padding: 0;
    }
    
    .tabContainer li {
        float: left;
        list-style: none;
    }
    
    .tabContainer li a {
        border-radius: 10px 10px 0 0;
        background-color: #F8F8F8;
        border: 1px solid #ddd;
        color: #666;
        cursor: pointer;
        display: block;
        height: 35px;
        line-height: 35px;
        padding: 0 30px;
        margin-left: -50px;
        text-decoration: none;
        text-transform: uppercase;
    }
    
    .tabContainer li a:hover {
        background: #95BFCE;
        color: #fff;
    }
    
    .tabContainer li a.active {
        background: #fff;
        border-top: 1px solid #ddd;
        color: #333;
    }
    
    .tabContainer:first-of-type {
        margin-left: 10px;
        width: 100%;
    }
    
    .active {
        background: #fbfbfb;
        color: #333;
    }
    
    .tabDetails {
        border: 0px solid #fff;
        margin: 34px 0 0;
    }
    
    .tabContents {
        padding: 20px
    }
    
    .tabContents h1 {
        font: normal 24px Georgia, serif;
        padding: 40px 0 10px;
    }
    
    .tabContents p {
        color: #385c5b;
        border-left: 6px double #D0D9DF;
        padding: 0 15px 10px;
    }
    /* Portfolio Images Effects
   ============================== */
    
    .pcontainer {
        display: flex;
        text-align: center;
        align-items: center;
        /* flex-wrap: wrap;*/
        margin: 0 auto;
        padding: 10px;
        display: inline-block;
    }
    
    .port1 {
        border-radius: 10px;
        width: 270px;
        margin: 10px;
        display: inline-block;
    }
    
    .port2 {
        border-radius: 10px;
        width: 270px;
        margin: 10px;
        display: inline-block;
    }
    
    .port3 {
        border-radius: 10px;
        width: 270px;
        margin: 10px;
        display: inline-block;
    }
    
    .port4 {
        border-radius: 10px;
        width: 270px;
        margin: 10px;
        display: inline-block;
    }
    
    .port5 {
        border-radius: 10px;
        width: 270px;
        margin: 10px;
        display: inline-block;
    }
    
    .port6 {
        border-radius: 10px;
        width: 270px;
        margin: 10px;
        display: inline-block;
    }
    
    .img-responsive {
        width: 100%;
        height: 160px;
    }
    
    .hovereffect {
        width: 100%;
        height: 100%;
        float: left;
        overflow: hidden;
        border-radius: 10px;
        position: relative;
        text-align: center;
        cursor: default;
    }
    
    .hovereffect .overlay {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0;
        opacity: 0;
        filter: alpha(opacity=0);
        background-color: rgba(0, 0, 0, 0.5);
        -webkit-transition: all 0.4s cubic-bezier(0.88, -0.99, 0, 1.81);
        transition: all 0.4s cubic-bezier(0.88, -0.99, 0, 1.81);
    }
    
    .hovereffect img {
        display: block;
        border-radius: 10px;
        position: relative;
        -webkit-transition: all 0.4s cubic-bezier(0.88, -0.99, 0, 1.81);
        transition: all 0.4s cubic-bezier(0.88, -0.99, 0, 1.81);
    }
    
    .hovereffect h2 {
        text-transform: uppercase;
        color: #fff;
        text-align: center;
        border-radius: 10px;
        position: relative;
        font-size: 17px;
        background: rgba(255, 0, 0, 0.4);
        -webkit-transform: translatey(-100px);
        -ms-transform: translatey(-100px);
        transform: translatey(-100px);
        -webkit-transition: all 0.4s cubic-bezier(0.88, -0.99, 0, 1.81);
        transition: all 0.4s cubic-bezier(0.88, -0.99, 0, 1.81);
        padding: 5px;
    }
    
    .hovereffect a.info {
        text-decoration: none;
        display: inline-block;
        text-transform: uppercase;
        color: #fff;
        border: 1px solid #fff;
        border-radius: 10px;
        background-color: transparent;
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease;
        margin: 40px 0 0;
        padding: 7px 14px;
    }
    
    .hovereffect a.info:hover {
        border-radius: 10px;
        box-shadow: 0 0 5px #fff;
    }
    
    .hovereffect:hover .overlay {
        border-radius: 10px;
        opacity: 1;
        filter: alpha(opacity=100);
    }
    
    .hovereffect:hover h2,
    .hovereffect:hover a.info {
        border-radius: 0px;
        opacity: 1;
        filter: alpha(opacity=100);
        -ms-transform: translatey(0);
        -webkit-transform: translatey(0);
        transform: translatey(0);
    }
    
    .hovereffect:hover a.info {
        border-radius: 10px;
        -webkit-transition-delay: .2s;
        transition-delay: .2s;
    }
    /* Images
   ================= */
    
    img {
        width: 100%;
        display: block;
    }

.sm-container {
    width: 100%;
    margin: 0 auto;
    
}

.sm {
    width: 40px;
    margin: 10px;
    display: inline-block;
}

.sm:hover{
             -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);

}

    /* Slideshow
   ================= */
    
    .wrapper {
        width: 100%;
        display: block;
        position: static;
    }
    
    #slideshow {
        position: relative;
        display: block;
        width: 100%;
    }
    
    #slideshow> div {
        position: absolute;
        display: block;
    }
    
    #slideshow {
        padding-bottom: 58%;
    }
    /* Buttons
   ========== */
    /* Footer
   ========== */
    
    footer {
        padding: 5px;
        background-color: #F9F9F9;
        border: 0px solid #000;
        text-align: center;
    }
    /* Scroll up (Arrow) Effect
=========================== */
    
    #return-to-top {
        position: fixed;
        bottom: 20px;
        right: 10px;
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.5);
        width: 50px;
        height: 50px;
        display: block;
        text-decoration: none;
        -webkit-border-radius: 35px;
        -moz-border-radius: 35px;
        border-radius: 35px;
        display: none;
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }
    
    #return-to-top i {
        color: #fff;
        margin: 0;
        position: relative;
        left: 16px;
        top: 13px;
        font-size: 19px;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    
    #return-to-top:hover {
        background: rgba(0, 0, 0, 0.9);
    }
    
    #return-to-top:hover i {
        color: #fff;
        top: 5px;
    }
    /* MEDIA QUERIES BELOW
==================================== */
    
    @media (min-width: 100px) and (max-width: 740px) {
        /* —- FOR SMARTPHONES —- */
        body {
            padding: 0;
            overflow-x: hidden;
        }
        #container {
            width: 100%;
            padding: 0;
            border: 0px solid #ddd;
        }
        .primary {
            width: 100% !important;
            padding-left: 0 !important;
            font-size: 13px;
        }
        .primary a {
            position: relative;
            right: 50px;
            margin: -20px;
        }
        /* PORTFOLIO TABS CONTENT */
        a {
            outline: none;
        }
        .tabContainer {
            width: 100%;
        }
        .tabContainer li {
            float: left;
            list-style: none;
        }
        .tabContainer li a {
            font-size: 12px;
        }
        .tabContainer li a:hover {
            background: #95BFCE;
            color: #fff;
            font-size: 12px;
        }
        .tabContainer li a.active {
            font-size: 12px;
        }
        /* .tabContainer:first-of-type{
    margin-left: 10px;
    width:100%; 
} */
        .active {
            background: #fbfbfb;
            color: #333;
        }
        .tabDetails {
            border: 0px solid #fff;
            margin: 34px 0 0;
        }
        .tabContents {
            padding: 20px 20px 20px 0;
        }
        .tabContents h1 {
            padding: 40px 0 10px;
        }
        .tabContents p {
            color: #385c5b;
            font-size: 11px;
        }
        /*P Images*/
        .pcontainer {
            width: 100%;
            flex-flow: row wrap;
            align-items: center;
            padding: 0px;
            margin: 0px;
        }
        .img-responsive {
            width: 100%;
            height: auto;
        }
        .port1 {
            width: 100%;
            padding: 0 0 9px 0;
            margin: 0;
        }
        .port2 {
            width: 100%;
            padding: 0 0 9px 0;
            margin: 0;
        }
        .port3 {
            width: 100%;
            padding: 0 0 9px 0;
            margin: 0;
        }
        .port4 {
            width: 100%;
            padding: 0 0 9px 0;
            margin: 0;
        }
         .port5 {
            width: 100%;
            padding: 0 0 9px 0;
            margin: 0;
        }
         .port6 {
            width: 100%;
            padding: 0 0 9px 0;
            margin: 0;
        }
        .hovereffect h2 {
            font-size: 13px;
        }
        .hovereffect a.info {
            font-size: 13px;
        }
        .contact {
            margin-top: -90px;
        }
        
        
        
        /* contact form
   ============================== */

.contain {
  border: 1px dashed #d7ecef;    
  margin: 0 auto;
  width:100%;  
  padding:15px;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    background: #f9f9f9;
    resize: vertical;
    float: right;
    width: 100%;
    height: 160px;
    position:relative;
    bottom:-5px;
    padding:10px;
    border-radius:10px;
    border-style: none;
    resize: none;
}

input {
  background: #f9f9f9;    
  padding:10px;
  margin: 0 5px 10px 0;
  width:100%;
  border-radius: 10px;
  border-style: none;
}

.submit input {
 background:#aadae2;    
 position:relative;
 bottom: -20px;
 padding:10px;
 margin: 0 auto;
 width: 100%;
 text-align: center;
}
        
        
        
    }
    
    @media (min-width: 500px) and (max-width: 1040px) {
        /* !!!!! FOR TABLETS !!!!! */
        body {
            padding: 0;
            overflow-x: hidden;
        }
        #container {
            width: 100%;
            padding: 0;
            border: 0px solid #ddd;
        }
        .primary {
            width: 100% !important;
            padding-left: 0 !important;
            font-size: 13px;
        }
        .primary a {
            position: relative;
            right: 50px;
            margin: -20px;
        }
        /* PORTFOLIO TABS CONTENT */
        a {
            outline: none;
        }
        .tabContainer {
            width: 100%;
        }
        .tabContainer li {
            float: left;
            list-style: none;
        }
        .tabContainer li a {
            font-size: 12px;
        }
        .tabContainer li a:hover {
            background: #95BFCE;
            color: #fff;
            font-size: 12px;
        }
        .tabContainer li a.active {
            font-size: 12px;
        }
        /*.tabContainer:first-of-type{
    margin-left: 10px;
    width:100%;
}*/
        .active {
            background: #fbfbfb;
            color: #333;
        }
        .tabDetails {
            border: 0px solid #fff;
            margin: 34px 0 0;
        }
        .tabContents {
            padding: 20px 20px 20px 0;
        }
        .tabContents h1 {
            padding: 40px 0 10px;
        }
        .tabContents p {
            color: #385c5b;
            font-size: 11px;
        }
        /*P Images*/
        .pcontainer {
            width: 100%;
            flex-flow: row wrap;
            align-items: center;
            padding: 0;
        }
        .img-responsive {
            width: 100%;
            height: auto;
        }
        .port1 {
            width: 100%;
            padding: 0 0 9px 0;
            margin: 0;
        }
        .port2 {
            width: 100%;
            padding: 0 0 9px 0;
            margin: 0;
        }
        .port3 {
            width: 100%;
            padding: 0 0 9px 0;
            margin: 0;
        }
        .port4 {
            width: 100%;
            padding: 0 0 9px 0;
            margin: 0;
        }
         .port5 {
            width: 100%;
            padding: 0 0 9px 0;
            margin: 0;
        }
         .port6 {
            width: 100%;
            padding: 0 0 9px 0;
            margin: 0;
        }
        .hovereffect h2 {
            font-size: 13px;
        }
        .hovereffect a.info {
            font-size: 13px;
            text-decoration: none;
            display: inline-block;
            text-transform: uppercase;
            color: #fff;
            border: 1px solid #fff;
            border-radius: 10px;
            background-color: transparent;
            opacity: 0;
            filter: alpha(opacity=0);
            -webkit-transition: all 0.4s ease;
            transition: all 0.4s ease;
            margin: 10px 0 0;
            padding: 7px 14px;
        }
        .contact {
            margin-top: -90px;
        }
    }
